/*------------------------------------*\
  #LOGIN REGISTER PAGE
\*------------------------------------*/

.webapp-login .forgot-password {
  display: flex;
  justify-content: flex-end;
}

.webapp-login .formular-login-register {
  height: 455px;
  display: flex;
  flex-direction: column;
}

.webapp-login .formular-login-register .fields{
  flex-grow: 1;
}
