/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/

.ai-layout {
  height: 100%;
  background-color: #e7f0f0;
  padding: 0 5rem;

  h1 {
    font: bold 35px/43px Aller;
    margin: 1rem 0px;
  }

  h2 {
    font: bold 31px/39px Aller;
    margin: 1rem 0px;
  }

  h3 {
    font: bold 27px/35px Aller;
    margin: 1rem 0px;
  }

  h4 {
    font: bold 25px/33px Aller;
    margin: 1rem 0px;
  }

  h5 {
    font: bold 23px/31px Aller;
    margin: 1rem 0px;
  }

  h6 {
    font: bold 21px/29px Aller;
    margin: 1rem 0px;
  }

  p {
    font: 19px/26px Aller;
    margin: 1rem 0px;
  }

  label {
    font: 19px/26px Aller;
  }

  button {
    font: 19px/26px Aller;
  }

  @at-root #{&}__content {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @at-root #{&}__svg {
      text-align: center;
      margin: 1rem;
      padding-bottom: 1rem;
    }

    @at-root #{&}__bottom {
      text-align: center;

      .hint {
        padding-bottom: 1rem;
        font: 16px/20px Aller;
      }
    }
  }


  button {
    height: 56px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  @at-root #{&}__header {
    width: 100%;
  }

  @at-root #{&}__progress {
    div {
      background-color: #1d2332;
      height: 7px;
    }

  }

  @at-root #{&}__container {
    margin: 0rem 1rem 2rem 1rem;
    flex: 1;
  }
}

@media (max-width: 600px) {
  .ai-layout {
    padding: 0 2rem;
  }
}
