/*------------------------------------*\
  #ONBOARDING SCREEN
\*------------------------------------*/

.ai-onboarding {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #e7f0f0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ai-onboarding .ai-onboarding-content {
  max-width: 400px;
  height: 95vh;
  width: 100%;
  background-color: #fff9f5 !important;
  display: flex;
  flex-direction: column;
}
.ai-onboarding .ai-onboarding-title {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
}

.ai-onboarding .ai-onboarding-subtitle {
  font-weight: normal;
}

.ai-onboarding .ai-onboarding-image {
  text-align: center;
  padding: 2rem 0rem;
  flex-grow: 2
}

.ai-onboarding .ai-onboarding-text {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ai-onboarding .ai-onboarding-navigation {
  text-align: center;
}

.ai-onboarding .ai-onboarding-buttons-group {
  padding-left: 1rem;
  padding-right: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.ai-onboarding .ai-onboarding-button {
  text-transform: capitalize !important;
}
