.ai-layout__content {
  .help-us {
    margin: 2em 0;
  }

  .note {
    margin: 2em 0;
    font: 16px/27px Aller;
  }
}

.secondPanel {
  text-align: center;

  button.paper {
    height: initial;
    text-transform: inherit;
    width: 100%;
    max-width: 560px;

    .MuiPaper-root {
      width: 100%;
      padding: 6em 0;
    }
  }

  .or {
    font: Bold 2em Lato;
  }
}